body {
	text-align: center;
}

#title_filter, #select_filter {
    padding: 3px;
    font-size: 12px;
}

.top10 {
    width: 350px;
    text-align: left;
    margin: 10px auto 10px auto;
}

.top10 h3 {
    margin-bottom: 0px;
}

ul {
    margin-top: 10px;
    overflow: hidden;
    font-size: 16px;
}

table {
	margin: 0px auto;
}

#select {
	text-align: right;
}

#buttons {
	text-align: right;
}

.label {
    width: 225px;
    height: 25px;
    margin: 7px auto 7px auto;
    font-size: 16px;
}

.label label {
    width: 60px;
    text-align: right;
    float: left;
}

.label input {
    width: 150px;
    padding: 3px;
    margin-left: 5px;
    float: left;
}
#genre {
    width: 220px;
    margin: 7px auto 7px auto;
    font-size: 16px;
    height: 75px;
}

#genre label {
    width: 55px;
    text-align: right;
    float: left;
    margin: 30px auto;
}

#genre select {
    width: 160px;
    margin-left: 5px;
    float: left;
}

#genre select option {
    text-align: center;
    font-size: 13px;
    padding: 1.5px;
}

#text {
    width: 500px;
    margin: 5px auto 5px auto;
}

#text label {
    font-size: 16px;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

#text textarea {
    width: 488px;
    font-size: 13px;
    padding: 5px;
    height: 200px;
}

#button {
    margin-top: 5px;
    float: right;
}

#story {
    width: 500px;
    text-align: left;
    margin: auto;
    border: 1px solid black;
    border-radius: 4px;
    padding: 8px;
}

#story p {
    margin: 5px;
}

#story p a {
    margin: 2px;
}

#title {
    font-size: 16px;
}